@import "../../../../../styles/variables.scss";
@import "../../../../../styles/mixins.scss";

.container {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.animation {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.blur {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(60px);
}

.bgIllustration {
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;

    @include bp-mobile {
        right: -20%;
        transform: scale(0.7);
    }
}

.plus {
    position: fixed;
    z-index: 3;

    @include bp-mobile {
        display: none;
    }
}
