@import '../../../styles/extends.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  @extend %container;
}

.slider_container {
  max-width: 900px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include bp-tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -40px;
    transform: translateY(0);
    margin-top: 25px;
  }
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;

  @include bp-tablet {
    align-items: center;
  }

  @include bp-mobile {
    align-items: normal;
  }
}

.title {
  @extend %title;

  @include bp-tablet {
    margin-left: -40px;
  }

  @include bp-custom-down(950px) {
    margin-left: 0;
  }
}

.services_list {
  @include font-orditron-500;
  font-size: 22px;
  color: $fog;
  height: 40px;
  max-width: max-content;

  @include bp-tablet {
    font-size: 18px;
    min-height: 40px;
    margin-left: -40px;
  }

  @include bp-custom-down(950px) {
    margin-left: 0;
  }

  @include bp-mobile {
    height: 70px;
  }
}

.service_item {
  animation: scale 0.3s;

  &:nth-child(2n) {
    color: $lava;
    @include font-orditron-700;
  }
}

.description {
  @include font-orditron-400;
  font-size: 22px;

  @include bp-mobile {
    font-size: 18px;
  }
}

.description_box {
  max-width: 500px;
  background-color: $salt;
  backdrop-filter: blur(40px);
  padding: 25px 40px;
  border-radius: 10px;
  bottom: 0;
  transform: translateY(-60px);
  z-index: 5;
  align-self: center;

  @include bp-tablet {
    width: 80%;
  }

  @include bp-custom-down(888px) {
    transform: translateY(-50px);
  }

  @include bp-mobile {
    background-color: $carbon;
    color: $salt;
    margin-top: 25px;
    z-index: 8;
    transform: translateY(0);
  }
}
