@import './mixins.scss';

%transition01 {
  transition: all 0.1s;
}

%transition02 {
  transition: all 0.2s;
}

%transition03 {
  transition: all 0.3s;
}

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%container {
  padding: 60px;
  
  display: flex;
  align-items: center;

  @include bp-desktop {
    min-height: 100vh;
  }

  @include bp-tablet {
    margin-top: 100px;
    padding: 40px;
    justify-content: center;
  }
}

%title {
  @include font-archivo-900;
  font-size: 3rem;

  transform-origin: top;
  -webkit-transform: scaleY(0.8);
  transform: scaleY(0.8) translateX(-0.3%);

  @include bp-mobile {
    font-size: 2rem;
  }
}

%swipeAnimation {
  @keyframes swipe {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}

%swipeLeftAnimation {
  @keyframes swipeLeft {
    0% {
      transform: translateX(100%);
    }
  
    100% {
      transform: translateX(0%)
    }
  }
}

%scaleAnimation {
  @keyframes scale {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1.1)
    }
  
    100% {
      transform: scale(1)
    }
  }
}