@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/extends.scss';

.card {
  @include square(300px);
  position: relative;

  &:hover .photo:not(:hover) {
    transform: scale(1);
  }

  &:hover .name {
    transform: translateY(-100%) translateX(-50%) scaleY(0.8);
    -webkit-transform: translateY(-100%) translateX(-50%) scaleY(0.8);
  }

  &:hover .link_icons {
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
    pointer-events: all;
  }

  &:hover .links_container {
    opacity: 1;
  }

  &:hover .svg_icon {
    width: max-content;
    background: #000;

    &:hover {
      background-color: $lava;
    }

    &::before {
      filter: brightness(5);
      margin-right: 20px;
      transform: rotate(90deg);
    }

    &::after {
      @include font-orditron-700;
      color: $salt;
      content: 'MORE';
    }
  }
}

.photo_container {
  overflow: hidden;
}

.photo {
  @extend %transition02;

  display: block;
  width: 100%;

  transform: scale(1.05);

  &:hover {
    transform: scale(1);
  }
}

.link {
  position: absolute;
  z-index: 3;
  top: -20px;
  right: -20px;
}

.more_icon {
  @extend %transition02;
}

.link_icon {
  @include square(40px);
  @extend %transition03;
  filter: brightness(0.8);

  &:hover {
    filter: brightness(1);
  }
}

.links_container {
  @include square(100%);
  @extend %transition03;

  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
  overflow: hidden;

  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(143,143,143,0) 40%, rgba(0,0,0,0.4990589985994398) 80%, rgba(0,0,0,0.7007396708683473) 100%);
  opacity: 0;
}

.link_icons {
  @extend %flexCenter;
  @extend %transition02;

  position: absolute;
  bottom: 0;
  left: 50%;
  pointer-events: none;

  width: 100%;
  height: 60px;
  transform: translateX(-50%) translateY(150%);
}

.name {
  @include font-archivo-900;
  @extend %transition02;

  font-size: 25px;
  color: $salt;
  text-transform: uppercase;

  position: absolute;
  bottom: 10%;
  left: 50%;

  transform: translateX(-50%) scaleY(0.8);
  -webkit-transform: translateX(-50%) scaleY(0.8);

  width: max-content;
  pointer-events: none;
  z-index: 1;
}

.svg_icon {
  @extend %transition01;
  @extend %flexBetween;

  background-color: $salt;
  padding: 20px;
  border-radius: 4px;

  &::before {
    content: url(../../../assets/icons/arrow.svg);
    @extend %flexCenter;
    @extend %transition02;
  }
}
