@import '../../../styles/mixins.scss';
@import '../../../styles/extends.scss';

.container {
  @extend %flexCenter;

  max-width: 95%;
  padding: 60px 40px 60px 140px;
  background: #ffffff59;

  animation: swipe 0.3s;
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 80px;
  row-gap: 40px;
  transition: all 0.3s;
}

.title {
  @include font-archivo-900;

  font-size: 50px;
  margin-bottom: 70px;
  transform-origin: top;
  -webkit-transform: scaleY(0.8);
  transform: scaleY(0.8) translateX(-0.3%);
}
