@import '../../../styles/mixins.scss';
@import '../../../styles/extends.scss';

.container {
  @extend %container;
}

.page {
  display: flex;
  max-width: 100%;
  flex-direction: column;
}

.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
  row-gap: 40px;
  transition: all 0.3s;
  max-width: 1200px;
  align-self: center;
  margin-top: 40px;

  @include bp-tablet {
    column-gap: 40px;
    transform: translateY(0);
    justify-content: center;
  }
}

.title {
  @extend %title;

  @include bp-tablet {
    align-self: center;
  }

  @include bp-mobile {
    align-self: normal;
  }
}
