@import '../../../styles/extends.scss';
@import '../../../styles/mixins.scss';

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 10;
}

.backdrop {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  // animation: opacity 0.6s forwards;

  @include bp-mobile {
    transform: translateY(-5%);
  }
}

.video_container {
  max-width: 100%;
  max-height: 100%;
  position: relative;

  @include bp-mobile {
    height: 40%;
  }
}

.video {
  max-width: 100%;
  max-height: 100%;
  // animation: scale 0.6s;
  padding: 50px;
  border: none;
  overflow: hidden;
}

.close_btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  top: 0px;
  right: 0px;
  transition: all 0.3s;
  transform: scale(0.7);
  padding: 20px;
  opacity: 0;

  animation: opacity2 0.5s forwards 0.5s;

  &:hover {
    transform: rotate(90deg) scale(0.7);
  } 
}

@keyframes opacity {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
}

@keyframes opacity2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}