@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/extends.scss';

.container {
  @extend %container;

  // animation: scale 0.3s;
  
  @include bp-custom-up(640px) {
    padding-left: 140px;
    justify-content: flex-start;
  }

  @include bp-desktop {
    padding-left: 60px;
  }

  @include bp-tablet {
    height: 80vh;
    padding: 40px;
    justify-content: center;
  }
}

.title {
  @include font-fraunces-400;

  color: $carbon;

  font-size: 11rem;
  margin-bottom: 40px;

  @include bp-tablet {
    font-size: 9rem;
    margin-bottom: 40px;
  }

  @include bp-mobile {
    font-size: 6rem;
  }
}

.description {
  @include font-orditron-400;
  max-width: 400px;
  font-size: 22px;
  height: 100%;
}